<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
  <meta name="author" content="Rob">
	<meta name="description" content="Vuejs HTML5 Audio Test">
  <meta name="keywords" content="Vuejs HTML5 Audio">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content'ie=edge'>
	<title>Vue Radio</title>
	<link rel='stylesheet' href='./style.css'>
	<link rel='manifest' href='./manifest.json'>

	
  <meta name="apple-mobile-web-app-status-bar" content="#ffa91e">
	<meta name="theme-color" content="#ffa91e">
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
</head>

<body>

	<div id="app" ref="app">

		<aside ref="aside">
			<div class="menu">
				<div class="icon btn closeMenu"
					@click="toggleMenu">
					close
				</div>
		
				<div class="menuItem btn"
					v-for="(item,index) of menu" 
					:key="index"
					:class="{ selectedMenu: item === title }"
					@click="menuClick(item)">
					{{item}}
				</div>
				
			</div>
		</aside>
		
		
		<main ref="main">
			<header class="header">
				<div class="btn hamburger" @click="toggleMenu">
					<div></div>
					<div></div>
					<div></div>
				</div>
		
				<h4>{{title}}</h4>
		
				<div class="icon btn" ref="spin"
						@click="spin">more_vert</div>
			</header>
		
			<section class="lists">
		
				<div class="no-list"
						v-if="!currentList.length">
						No list selected
				</div>
		
				<div class="list" v-else>
					<div class="listItem" :key="index"
					:class="{ selectedItem: index === selectedIndex }"
						v-for="(item,index) of currentList"
						@click="loadSound(index)">
							<div class="title">{{item.title}}</div>
							<div class="description">{{item.description}}</div>
					</div>      
				</div> 
				
				<div class="icon btn autoplay"
						:class="{ muted : !autoplay }"
						@click="autoplay = !autoplay"
						title="autoplay">
					autorenew
				</div>
					
			</section>
		
		
			<footer class="footer">
				
				<div class="buttons">
					<span class="icon btn play"
							ref="play"
							@click="togglePlay()">
							{{playing ? 'pause_circle_outline' : 'play_circle_outline'}}
					</span>
		
					<div class="btnGroup">
						<div class="icon btn prev"
								@click="prev">skip_previous</div>
						<div class="icon btn stop"
								@click="stop">stop</div>
						<div class="icon btn next"
								@click="next">skip_next</div>
					</div>
		
					<div class="volumeGroup">
						<input type="range" btn
							min='0' max='1' step="0.1"
							v-model="volume">        
						<div class="icon btn mute"
							@click="toggleMute">
							{{ mute ? 'volume_off' : 'volume_up' }}
						</div>
					</div>
				</div>
		
				<div class="progressGroup" btn>
					<small class="meta"> 
						{{formatSeconds(currentTime)}} / {{formatSeconds(duration)}} 
					</small>
					
					<progress :value="progress" max="100" 
										class="media-progress"
										@click="progressClick($event)"
										ref="progress"></progress>
				</div>
		
			</footer>
		</main>
	</div> 
	<!-- app -->
	<!--  - aside -->
	<!--  - main -->
	<!--  -- header -->
	<!--  -- .lists -->
	<!--  -- footer -->	

	<!-- This is the "Offline page" service worker -->
	<!-- Add this below content to your HTML page, or add the js file to your page at the very top to register service worker -->
	<!-- Check compatibility for the browser we're running this in -->
	<script>
		if ("serviceWorker" in navigator) {
			if (navigator.serviceWorker.controller) {
				console.log("Active service worker found");
			} else {
				// Register the service worker
				navigator.serviceWorker
					.register("sw.js", {
						scope: "./"
					})
					.then(function (reg) {
						console.log("Service worker registered: ", reg.scope);
					})
					.catch(function(err) {
						console.log("Service worker NOT registered: ", err);
					});
			}
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src='./index.js'></script>
</body>
</html>
