<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
  <meta name="author" content="Rob">
	<meta name="description" content="Vuejs HTML5 Audio Test">
  <meta name="keywords" content="Vuejs HTML5 Audio">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content'ie=edge'>
	<title>Vue Radio</title>
	<link rel='stylesheet' href='./base.css'>
	<link rel='stylesheet' href='./style.css'>


</head>

<body>

<div id="app">

	<header v-swipe="swiped">
    <transition name="fade" mode="out-in">
      <h4 :key="title" @pointerdown="randomToggle">
        {{title}}
      </h4>
    </transition>
 
    <div class="icon btn spin" 
      @pointerdown="spin" ref="spin">
      more_vert
    </div>
	</header>      

  <main> 
    <transition :name="slide" mode="out-in">
      <div class="list" :key="currentPanel">
        <div class="listItem" :key="index"
          v-for="(item,index) of currentList"
          @pointerdown="loadAudio(index)"
          :class="{ selectedItem: index === selectedIndex }">
          <div class="title">
            {{item.title}}
          </div>
          <div class="description">
            {{item.description}}
          </div>
        </div>
      </div>
    </transition>

    <div class="icon btn loop" title="auto loop" 
      :class="{muted: !autoplay}"
      @pointerdown="toggleAutoPlay">
      loop
    </div>
  </main>

  <footer>
    <div class="buttons">
      
      <transition name="fade" mode="out-in">
        <div class="icon play" 
          @click="togglePlay" :key="playing">
          {{ playing ? 'pause_circle_outline' : 'play_circle_outline' }}
        </div>
      </transition>
      
      <div class="btnGroup">
        <div class="icon btn prev" @click="prev">skip_previous</div>
        <div class="icon btn stop" @click="stop">stop</div>
        <div class="icon btn next" @click="next">skip_next</div>
      </div>

      <div class="volumeGroup">
        <input type="range"
            min='0' max='1' step="0.05"
            v-model="volume">
        
        <transition name="fade" mode="out-in">
          <div class="icon mute" 
            @pointerdown="toggleMute" :key="muted">
            {{ muted ? 'volume_off' : 'volume_up' }}
          </div>
        </transition>
      </div>
    </div>

    <div class="progressGroup">
      <small class="meta">
          {{formatSeconds(currentTime)}} / {{formatSeconds(duration)}}
      </small>

      <div class="progress btn" ref="progress" @click="progressClick($event)">

        <div class="bar" :style="{width: progress + '%'}"></div>
      </div>
    </div> 

  </footer>

  <audio ref="audio" @error="error($event)"></audio>

</div> <!-- app -->



	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuex@3.1.1/dist/vuex.min.js"></script>
	<script src='./index.js'></script>
</body>
</html>
